# Node
node_modules/
**/node_modules/

# Build outputs
dist/
build/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env

# Editor
.vscode/
.idea/

# Backups
Respaldo/node_modules/

# Ignore backup folder
Respaldo/
.vercel
